.main-view{
    display: flex;

}
.main-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 2px solid rgba(0,0,0,0.6);
    width: 12%;
}
.main-menu i{
    margin-bottom: 40px;
}


.main-menu__head{
    margin-top: 50px;
    margin-bottom: 150px;
}

.main-menu__list {
    display: flex;
    flex-direction: column;
    background-color;
    font-size: 35px;
    color:var(--grey);
}

.main-menu img{
    width: 40px;
    height: 40px;
    border-radius: 50px;

}

.main-menu__profile{
    margin-top: 200px;
}

